html, body {
  height: 100%;
  background-color: black;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Great Vibes', cursive;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: black
}

.header {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  background: #e9385e;
  background-image: url(../images/movie-theater.jpg);
  background-position: center;
}
.nav {
  color: white;
  display: flex;
  justify-content: space-around;
}

.nav a {
  display: inline;
}

.input-container {
  padding: 20px;
  text-align: center;
  background: black;
}

.search-history {
  text-align: left;
  background: #e9385e;
  color: white;
  font-size: 16px;
}

.movie-grid {
  text-align: right;
  background:black;
  color: white;
  font-size: 16px;
}

.title {
  background: #e9385e;
  text-align: center;
  color: white;
  border-radius: 7px;
}
h3.title{
  color: white;
}

.link-tag {
  background: #e9385e;
  text-align: center;
}
.poster {
  background: #e9385e;
  text-align: center;
}
.director {
  background: #e9385e;
  text-align: center;
  color: white;
  border-radius: 7px;
}

.ratings {
  background-color: #e9385e;
  text-align: center;
  color: white;
  border-radius: 7px;
}

.modal {    
  padding: 16px;
  text-align: center;
  background: #e9385e;
  color: white;
  font-size: 16px;
}

#modalbtn{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer {
  padding: 16px;
  text-align: center;
  background: #e9385e;
  color: white;
  font-size: 16px;
}

#css-black{
  background-color: black;
}



.search-history{
  background-image: url(../images/popcorn-bucket-with-red-background_23-2148425093.jpg);
  background-position: center;
}

.card {
  background-color: transparent;
}