html, body {
  height: 100%;
  background-color: black;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Great Vibes', cursive;
}
.content {
  flex: 1 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: black
}

.header {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  background: #e9385e;
  background-image: url(../images/movie-theater.jpg);
  background-position: center;
}

.titleText {
  background: transparent;
  color: white;
  
}

.nav {
  color: white;
  display: flex;
  justify-content: space-around;
}

.nav a {
  display: inline;
}

.input-container {
  padding: 20px;
  text-align: center;
  background: black;
}

.search-history {
  text-align: left;
  background: #e9385e;
  color: white;
  font-size: 16px;
}


.title {
  background: #e9385e;
  text-align: center;
  color: white;
  border-radius: 7px;
}

.movie-grid {
  text-align: right;
  background:black;
  color: white;
  font-size: 16px;
}

h3.title{
  font-family: 'Satisfy', cursive;
  font-size: larger;
  font-weight: 800;
  color: white;
}

h4.titleText{
  color: white;
  font-family: 'Satisfy', cursive;
}

p.ratings{
  font-family: 'Satisfy', cursive;
  font-size: larger;
  font-weight: 800;
  color: white;
}

div.director{
  font-family: 'Satisfy', cursive;
  font-size: larger;
  font-weight: 800;
  color: white;
}

.link-tag {
  background: #e9385e;
  text-align: center;
}

input#add-search-do.button.is-small{
  font-family: 'Satisfy', cursive;
  font-size: larger;
  font-weight: 800;
  color: white;
  background-color: red;
  border-color: red;
}

h4.dynamic-click{
  
  font-weight: 800;
  font-size: large;
  color: black;
}

.poster {
  background: #e9385e;
  text-align: center;
}

.director {
  background: #e9385e;
  text-align: center;
  color: white;
  border-radius: 7px;
}

.ratings {
  background-color: #e9385e;
  text-align: center;
  color: white;
  border-radius: 7px;
}

div.guardian.column.is-two-fifths{
  color: white;
}

.guard-list{
  color: white;
}

.modal {    
  padding: 16px;
  text-align: center;
  background: #e9385e;
  color: white;
  font-size: 16px;
}

#modalbtn{
  justify-content: center;
  text-align: center;
  align-items: center;
}

#css-black{
  background-color: black;
}

.search-history{
  background-image: url(../images/popcorn-bucket-with-red-background_23-2148425093.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  background-color: transparent;
  box-shadow: none;
}

button#showModal{
  font-family: 'Satisfy', cursive;
  font-size: larger;
  font-weight: 800;
  color: white;
  background-color: red;
  border-color: red;
}

.footer {
  flex-shrink: 0;
}

.footer {
  padding: 16px;
  text-align: center;
  background-image: url(../images/red.jpg);
  color: white;
  font-size: 16px;
}

h4.footerNote{
  color: white;
  font-family: 'Satisfy', cursive;
}