html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: black
}

.header {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  background-image: url("/assets/images/theatre.jpg");
}
.nav {
  color: white;
  display: flex;
  justify-content: space-around;
}

.nav a {
  display: inline;
}

.input-container {
  padding: 20px;
  text-align: center;
  background: black;
}

.search-history {
  text-align: left;
  background: #e9385e;
  color: white;
  font-size: 16px;
}
.movie-grid {
  text-align: right;
  background:black;
  color: white;
  font-size: 16px;
}

.title {
  background: #e9385e;
  text-align: left;
  color: white;
}
.link-tag {
  background: #e9385e;
  text-align: center;
}
.poster {
  background: #e9385e;
  text-align: center;
}
.director {
  background: #e9385e;
  text-align: center;
  color: white;
}

.ratings {
  background-color: #e9385e;
  text-align: center;
  color: white;
}

.modal {    
  padding: 16px;
  text-align: center;
  background: #e9385e;
  color: white;
  font-size: 16px;
}

#modalbtn{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer {
  padding: 16px;
  text-align: center;
  background: #e9385e;
  color: white;
  font-size: 16px;
}

#css-black{
  background-color: black;
}

#to-search{
  background-color: #e9385e;
}